:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
  --color: rgb(255, 186, 0);
  --color-1: rgba(255, 187, 0, 0.863);
  --color-grey: rgb(82, 83, 85);
  --color-hr: rgb(135, 135, 136);
}

hr {
  border-color: var(--color-hr);
  margin: 0;
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
  transition: 0.3s ease-in-out;
}
a:hover {
  color: var(--color-1);
}
a:active {
  color: white;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-bottom: 3rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
