nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 25px 1px 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-text {
    color: white;
}

.search {
    color: white;
    border-radius: 8px;
    background-color: var(--color-grey);
    padding: 10px 18px 10px 18px;
    width: 500px;
}

.search-box svg {
    position: absolute;
    z-index: 1100;
    margin-top: 10px;
    margin-left: 15px;
}

.search-box svg:hover {
    background-color: var(--color-grey-1);
    border-radius: 50%;
    box-shadow: 0 0 0 5px var(--color-grey-1)
}

.search-box input {
    padding-left: 45px;
    display: flex;
    align-items: center;
    border: none;
    position: relative;
    outline: none;
}

#search-btn {
    cursor: pointer;
}

input::placeholder {
    color: white;
}

input:focus {
    background-color: white;
    border: none;
    color: var(--color-grey);
}

input:focus::placeholder {
    color: black;
}

.svg  {
    color: rgb(184, 184, 184);
}

#reload {
    transition: transform 0.15s ease-in-out;
}

#reload:active {
    transform: rotate(100deg)
}